@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav-offer {
  background-color: #002e35;
  color: white;
  font-family: "Roboto Condensed";
  text-align: center;
  font-size: small;
  padding: 10px;
  position: sticky;
}

#header {
  font-family: "Roboto Condensed";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo {
  height: 50px;
  width: 175px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

#navbar li a:hover {
  cursor: pointer;
  color: 0.088178;
}

#navbar li a:hover:after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#navbar-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar-actions li {
  list-style: none;
  padding: 0 20px;
}

#product {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  padding: 25px;
  gap: 25px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.product-price {
  display: flex;
  gap: 10px;
}

.product-price span {
  border: 1px solid #088178;
  color: white;
  font-size: 12px;
  border-radius: 15px;
  width: 50px;
  text-align: center;
  background: #088178;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 120px;
  height: 48px;
  margin-bottom: 10px;
}

.size-boxes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  height: 24px;
}

.size-box-style {
  border: 1px solid black;
  width: 45px;
  height: 24px;
  border-radius: 20px;
  cursor: pointer;
}

.size-box-style:active {
  background-color: #222;
}

.size-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1d1f22;
}

.size-text:active {
  color: white;
}

#quantity {
  border: 1px solid black;
  width: 150px;
  height: 45px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

#quantity input {
  border: none;
  width: 100%;
  text-align: center;
}

#btn-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#btn-container button {
  height: 35px;
}

.add-btn {
  background-color: white;
  border: 1px solid black;
}

.buy-btn {
  background-color: #088178;
  border: 1px solid #088178;
  color: white;
}

.img-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.product-img {
  height: 500px;
  width: 350px;
}

#extras div {
  height: 35px;
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed";
  padding: 10px;
  margin: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#extras div p {
  margin-right: auto;
}

#extras div img {
  margin-right: 10px;
}

#extras div select {
  border: none;
}

.mrp {
  text-decoration: line-through;
}

.light {
  opacity: 0.5;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .product-img {
    width: 250px;
    object-fit: cover;
  }
}
@media (max-width: 780px) {
  #header {
    padding: 20px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    width: 200px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    left: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #222;
    font-size: 24px;
    display: initial;
  }

  #product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .img-container {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 350px;
  }

  .mobile-img .main-img {
    width: 350px;
  }

  .main {
    width: 100%;
  }

  .mobile-img .small-img-group {
    display: flex;
    width: 350px;
  }

  .small-img {
    width: 100%;
    cursor: pointer;
  }

  .product-details {
    width: 350px;
  }

  .mob-hidden {
    display: none;
  }

  /* #navbar-actions {
    display: flex;
    flex-direction: column;
  } */
}
